<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- 지정한 패키지 내에서 @Component 어노테이션이 등록되어있는 클래스의 빈을
		자동으로 등록해준다. 
		name 속성을 지정하지 않을 경우 타입명이 아이디가 되고,
		name 속성을 지정하면 속성값이 아이디가 된다. -->
	<context:component-scan base-package="componentScan"/>

</beans>
