<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 
		AOP용어
		Aspect(Advisor) : 1. 공통 관심사 // 2. Advice + Pointcuts
		Advice : 공통 관심사를 모듈화한 객체
		Join points : 공통 관심사를 적용할 수 있는 모든 대상
					  Spring에서는 bean으로 등록된 모든 객체의 메서드
		Pointcuts : Join points 중 실제로 Advice가 적용 될 대상
		target : Pointcuts을 가진 객체
		Weaving : Advice와 target을 결합해 프록시 객체를 생성하는 과정
		Proxy : Advice와 target이 결합되어 만들어진 프록시 객체
	 -->	
	
	<context:component-scan base-package="aop01"/>
	
	<!-- 1. Proxy객체를 생성하는 일을 대신 해줄 bean이 필요 
		    => DefaultAdvisorAutoProxyCreator -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

	<!-- 2. 공통관심사를 모듈화 한 객체와 수행해야 하는 메서드를 가지고 있는 target 객체
	       를 합친 Aspect(advisor) 를 만들어 줄 bean이 필요 
	       => AspectJExpressionPointcutAdvisor -->
	<bean class="org.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
		<!-- 어떤 작업을 공통관심사로 지정할 것인지 -->
		<property name="advice" ref="myAdvice"/>
		
		<!-- 어떤 메서드를 호출 할 때 공통관심사를 적용할 것인지
			pointcut expression
			* : 모든
			.. : 0개 이상 / ~의 하위 패키지
			execution([접근제어자] 리턴타입 [패키지.클래스].메서드(매개변수)) -->
		<property name="expression" value="execution(* aop01.*.*(..))"></property>
	</bean>  
	
	
	
	
	
	
	
	
	
	     

</beans>
