<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.spring.mybatis.member.model.vo.Member" alias="member"/>
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/mapper/mybatisMapper.xml"/>
	</mappers>
</configuration>