<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- factory 메서드가 있는 bean을 지정하면 
		 factory method에 의해 생성되어 반환되는 객체를 applicationContext에 bean으로 등록 -->
	<bean id="factorybean" class="factory.DayFactory" factory-method="getInstance"/>


</beans>
