<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="fragments :: head"/>
<link rel="stylesheet" href="/css/member.css" />
</head>
<body>
	<h1>MyPage</h1>
	<form th:action="@{/member/modify}" method="post">
		<table>
			<tr>
				<td>id</td>
				<td th:text="${session.userInfo.userId}">
					<input type="hidden" name="userId" value="${session.userInfo.userId}"/> 
				</td>
			</tr>
			<tr>
				<td>tell</td>
				<td><input type="text" name="tell" th:value="${session.userInfo.tell}"/></td>
			</tr>
			<tr>
				<td>email</td>
				<td><input type="text" name="email" th:value="${session.userInfo.email}"/></td>
			</tr>
		</table>
		<button>수정</button>
	</form>
	</script>
	
	
	
	
	
</body>
</html>