<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="lee" class="bean.Address">
		<constructor-arg name="name" value="이순신"/>
		<constructor-arg name="address" value="서울시 강남구"/>
		<constructor-arg name="phone" value="010-1211-1333"/>
	</bean>
	
	<!-- getter/setter 사용 -->
	<bean id="hong" class="bean.Address">
		<property name="name" value="홍길동"/> <!-- setName() 호출 -->
		<property name="address" value="경기도 수원시"/>
		<property name="phone" value="010-1112-1119"/>
	</bean>
	
	<bean id="harryPotter" class="bean.Book">
		<constructor-arg index="0" value="해리포터와 마법사의 돌"/>
		<constructor-arg index="1" value="조앤 K 롤링"/>
		<constructor-arg index="2" value="황금가지"/>
		<constructor-arg index="3" value="700"/>
	</bean>
	
	<bean id="hopeForTheFlower" class="bean.Book">
		<property name="title" value="꽃들에게 희망을"/>
		<property name="author" value="하명도"/>
		<property name="publisher" value="Pclass"/>
		<property name="page" value="150"/>
	</bean>








</beans>
