<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:fragment="head">
		<meta charset="UTF-8">
		<title>toy project</title>
		<script type="text/javascript" src="/js/common/asyncPageError.js"></script>
		<script type="text/javascript" src="/js/common/urlEncoder.js"></script>
		<style>
			a{
				text-decoration: none;	
				cursor:pointer;
			}
			
			.gnb_top{
				display: flex;
				justify-content: space-between;
			}
		</style>
	</th:block>
</head>
<body>
<div class="gnb_top" th:fragment="gnb_top">
	<a href="/">toyProject</a>
	<div>
		<a th:if="${session.userInfo == null}">login</a>
		<a th:if="${session.userInfo != null}">logout</a>
	</div>
</div>








</body>
</html>