/* boardList  */
.content{
	width:80%;
	margin:10% 0 10% 0;
	align-self: center;
}

.tit{
	text-align: left;
	font-size: 1.5vw;
}

.list_board{
	width:100%;
}

.list_board th{
	 font-size: 1.5vw;
	 background-color: grey;
	 color:white;
}

.list_board td{
	  font-size: 1.2vw;
	  border-bottom: 1px solid lightgrey;
}

.paging{
	height:10%;
	font-size:1.5vw;
}

/* boardView */
.tit_board{
	width:100%;
	font-size:1.5vw;
<<<<<<< HEAD
=======
	padding:1% 0 1% 0;
>>>>>>> branch 'main' of https://github.com/azimemory/spring
}

.tit_board input[type=text]{
	font-size:1.3vw;
}

.info{
	width:100%;
	float:left;
	padding:1vw 0 1vw 0;
	text-align: left;
	border-bottom:1px solid;
	z-index: 1;
}

.info span{
	margin:0 3vw 0 0;
}

.article_content{
	min-height: 300px;
	border-bottom:1px solid;
}

.btn_section{
<<<<<<< HEAD
	margin:1% 0 0 1%;
	width:7%;
=======
	margin-top:1%;
	margin-left:1%;
	width:100px;
>>>>>>> branch 'main' of https://github.com/azimemory/spring
	float:right;
}

<<<<<<< HEAD
=======
.btn_section span{
	font-size:1.5vw;
}

>>>>>>> branch 'main' of https://github.com/azimemory/spring
.wrap_board{
	overflow:hidden;
	width:70%;
	left:30%;
}

.btn_down-file{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	width:100%;
	border-bottom: 1px solid;
}

.btn_down-file *{
	margin:1%;
}








