<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
	<th:block th:insert="fragments :: head"/>
	<link rel="stylesheet" href="/css/board.css" />
</head>
<body>
<div class="content">
	<h2 class="tit">*게시판</h2>
	<div class="desc_board">
		<form th:action="@{/board/upload}" method="post" enctype="multipart/form-data">
			<div>
				<div class="tit_board">
					제목 : <input type="text" name="title" required="required"/>
					<!-- multiple : 여러개 파일 선택을 허용하는 속성 -->
					파일 : <input type="file" name="files" id="contract_file" multiple/>
				</div>
				<div class="content_board">
					<textarea name="content" required="required"></textarea>
				</div>
				<div class="btn_section">
					<button style="background-color:red; color:white; width:100%">전송</button>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>