<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.toy.board.model.repository.BoardRepository">
	<insert id="insertFile">
		insert into file_info
			(fl_idx, type_idx, origin_file_name,
			 rename_file_name, save_path)
		values(
			SC_FILE_IDX.nextval, 
			<choose>
				<when test="typeIdx != 0">
					#{typeIdx},
				</when>
				<otherwise>
					SC_BOARD_IDX.currval,
				</otherwise>
			</choose>
			#{originFileName},
			#{renameFileName},
			#{savePath}
		)
	</insert>
	
	<select id="selectBoardList" resultType="BOARD">
		select
			bd_idx, user_id, reg_date,title
		from(
			select rownum rnum, n1.*
			from(
				select * 
				from board
				order by bd_idx desc
			) n1
		)where rnum between #{start} and #{end}
	</select>

	






</mapper>  