<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.toy.board.model.repository.BoardRepository">
	<select id="selectBoardList" resultType="board">
		select bd_idx, user_id, title, reg_date
		from(
			select rownum rnum, b.*
			from(
				select bd_idx, user_id, title, reg_date
				from tb_board
				order by ${sort} ${direction}
			) b
		) where rnum between #{queryStart} and #{queryEnd}	
	</select>
</mapper>